{% extends "admin/change_form.html" %}
{% block after_related_objects %}
  {% if original.pk %}
    <div class="submit-row">
        <p class="deletelink-box">Pick days</p>

    </div>
      <p>Date: <input type="text" id="datepicker1"></p>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jqury-ui.min.js" type="text/javascript"></script>-->
<script type="text/javascript">
    if (!$) {
        $ = django.jQuery;
        $("#datepicker1").datepicker();
    }

</script>
  {% endif %}
{% endblock %}