{% extends "framed.html" %}

{% load staticfiles %}

{% block title %} Addition {% endblock title %}

{% block framedcontent %}

    <div class="border padded_border">
        <div class="section_header">
            <h3>About</h3>
        </div>
        <div>
            <p>How long does your kid take to answer 8 + 7? Does he still use his finguers? How about 99 + 99?</p>

            <p>

                Automatic recall of basic math facts (math fluency) is generally considered a key foundation for higher
                level math skills.
            </p>

            <p>
                My kids can add and subtract multiple digits, but we still do single digits addition math drills. Why? Because the goal is not to teach them Math. They already understand the concept. The goal is to make them fluent in Math.
                I want Math to be like a second language for them. To achieve that, they need to be able to automatically recall basic math facts, without using fingers or spending much time on them. They also need to understand there are often different ways to solve the same Math problem, and to learn shortcuts.
            </p>

            <h6>Shortcuts</h6>

            <p>
                How do your kids solve 99 + 99? Do they write it down on a piece of paper, then add the single column, figure out the carry and add the tens column?
                I want my kids to solve it by figuring out that 99 = 100 - 1, so 99 + 99 = 100 + 100 - 2.
                The more Math facts they're able to automatically recall, the more shortcuts they'll be able to find by themselves.

            </p>
            <h6>Timed</h6>

            <p>

                These worksheets should be timed. It's important to let your kids know that they'll need both speed and accuracy. They often ask me, which one is more important. I tell them they're equally important.
                It's just as bad to take an hour to solve one worksheet perfectly as it is to solve the worksheet in 2 minutes, but get half of it wrong.

            </p>

            <h6>Worksheets</h6>

            <p>
                I organized worksheets by operation types and level. As they get comfortable with a level, I create a new level and have them practice it. The progression is quite disorganized and not really planned. I simply create the worksheets as I need them.
            </p>

            <p>
                Why print the worksheets and not have the kids practice online on a computer? The goal is to measure their progress and make them proficient in Math. Speed (as well as accuracy) is key and I believe doing it on a piece of paper with a pencil to be much faster than doing it on a keyboard/mouse.
            </p>

            <h6>Servers</h6>
            <p>The site is a bit slow, because it's hosted on a free virtual instance on Heroku. If you start having problems accesing the site, let me know and I'll look into upgrading the hosting. So far the site has only been for personal purposes, so it would only get a few dozen visits a week.</p>

            <h6>Work in progress</h6>

            <p>I know the site design has nothing to do with Math. That's because I simply purchased a template and used it and did not yet find suitable images for the site.</p>
        </div>
        <p>I would love to hear suggestions for new worksheets and what you think of this site.</p>

    </div>
    </div>
{% endblock framedcontent %}