{% extends "base.html" %}

{% block header %}

{% endblock header %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="navbar span12">
			<div class="navbar-inner">
				<a class="brand" href="/">Mathimize.com</a>
				<ul class="nav">
					<li@* class="active"*@><a href="/">Home</a></li>
					<li><a href="/Math/">Math</a></li>
					<li><a href="/Home/About">Contact Me</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear">
	</div>

    <div class="row">
        <div class="span3">
            <ul class="nav nav-list bs-docs-sidenav">
				{% block sidebar %}
				<ul>
					<li class="nav-header">Addition</li>
					<li><a href="/Math/Tens"><i class="icon-chevron-right"></i>Tens</a></li>
					<li><a href="/Math/Doubles"><i class="icon-chevron-right"></i>Doubles</a></li>
					<li><a href="/Math/BasicAddition"><i class="icon-chevron-right"></i>Basic Addition</a></li>
					<li class="nav-header">Subtraction</li>
					<li><a href="#"><i class="icon-chevron-right"></i>Simple Subtraction</a></li>
					<li><a href="#"><i class="icon-chevron-right"></i>Doubles</a></li>
					<li><a href="#"><i class="icon-chevron-right"></i>Tens</a></li>
					{% if user.is_authenticated %}
						<li><a href="/logout">Logout</a></li>
					{% else %}
						<li><a href="/login">Login</a></li>
					{% endif %}
				</ul>
				{% endblock %}			
            </ul>
        </div>
        <div class="span9">
            <!--Body content-->
            <div id="content">
			{% block content %}{% endblock %}
			</div>

        </div>
    </div>
</div>
{% endblock body %}